

/* -----------------------------------content------------------------------------------------- */

.new{
    display: none;
    animation: effect linear 0.3s;
}
@keyframes effect{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.content__sale{
    width: 100%;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content__sale-box{
    height: 48.5%;
    width: 100%;
}
.content__sale-img{
    width: 100%;
    height: 100%;
}
.box2{
    margin-top: 5rem;
}
.content__cate-all{
    display: flex;
}
.icon-cate-all{
    font-size:2rem;
    position: relative;
    top: 0.1rem;
}
.content__cate-all-header{
    font-size: 2rem;
    margin-left: 2rem;
}
.content__list{
    list-style: none;
    margin-top: 7.2rem;
    background-color: var(--while-color);
    padding: 2.5rem 1rem;
}
.content__item{
    margin: 2rem 0;
}
.content__link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
    position: relative;
    left: 0;
    transition: all 0.3s;
    padding: 0.5rem 0;
}
.content__link > i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.content__link:hover{
    left: 1rem;
    color: var(--main-color);
}
.content__status{
     height: 5rem;
     width: 100%;
     background-color: var(--ddd-color);
     display: flex;  
}
.content__sidebar-list-header{
    text-align: center;
    font-size: 2rem;
}
.content__status-box{
    line-height: 5rem;;
}
.content__status-txt{
    font-size: 1.8rem;
}
.content__status-box .active{
    background-color: var(--main-color);
    color: var(--while-color);
}
.content__status-btn{
    height: 4rem;
    width: 70%;
    cursor: pointer;
    font-size: 1.6rem;
    outline: none;
    border: none;
    background-color: var(--detail-color);
}


.content__list-product-group{
   margin-top: 3rem;
}
.box-product{
    margin-top: 2rem;
}
.content__list-product{
    display: block;
    box-shadow: 0 0 0.1rem black;
    overflow: hidden;
    text-decoration: none;
    display: block;
    color: var(--black-color);
    background-color: var(--while-color );
    padding-top: 1rem;
}
.content__list-product-box{
    position: relative;
    padding-top: 100%;
}
.content__list-product-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    transform: scale(1);
    transition: 0.3s;
    overflow: hidden;
}
.content__list-product:hover .content__list-product-img{
    transform: scale(1.05);
}
.content__list-product-info{
    padding: 0 1rem;
}
.content__list-product-name{
    font-size: 1.6rem;
    margin: 1rem 0;
    overflow: hidden;
    height: 5rem;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 2.5rem;
}
.content__list-product-price{
    margin-bottom: 0.8rem;
    height: 2rem;
}
.content__list-product-price-old-number{
    text-decoration: line-through;
    display: inline-block;
    margin-left: 0.5rem;
}
.content__list-product-price-old,
.content__list-product-price-new{
    font-size: 1.6rem;
    display: inline-block;
}
.content__list-product-price-new{
   padding-left: 1rem;
   color: var(--main-color);
   font-weight: bold;
}
.content__list-product-status,
.content__list-product-from{
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}

.content__page-index{
    margin-top :5rem;
}
.content__page-index-list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.content__page-index-item{
    margin: 0 1rem;
}
.content__page-index-link{
    text-decoration: none;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: var(--while-color);
    padding: 0.7rem 1.3rem;
}
.icon-page{
    color: var(--bbb-color);
    font-size: 2rem;
}
/* --------------------------------footer------------------------------------------------ */

