.wrapper__group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.wrapper__nav{
    background-color: #343A40;
    width: 18%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    padding: 1rem;
    box-shadow: 0.05rem 0 1rem gray;
    z-index: 10;
    color: var(--bbb-color);
}
.wrapper__content{
    width: 82%;
}
.nav__header{
    display: flex;
    height: 4rem;
    position: relative;
}   
.nav__header::before{
    content: "";
    width: 100%;
    height: 0.04rem;
    background-color: var(--bbb-color);
    position: absolute;
    bottom: -1.5rem;
}
.nav__header-link{
    text-decoration: none;
    display: block;
    width: 18%;
    height: 100%;
}
.nav__header-img{
    width:100%;
    height: 100%;
    border-radius: 50%;
}
.nav__header-author{
    font-size: 1.7rem;
    line-height: 4rem;
    padding-left: 2rem;
}
.nav__name{
    margin-top: 4rem;
}
.nav__name-header{
    font-weight: 400;
}
.nav__list{
    margin-top: 3rem;
    list-style: none;
}
.nav__item{
    margin: 0.8rem 0;
}
.nav__link > i{
    font-size: 2rem;
    padding-right: 1.5rem;
}
.nav__link{
    display: block;
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--bbb-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: 0.2s;
}
.nav__link:hover{
    background-color: #494E53;
}
::-webkit-scrollbar {
    width: 0.7rem;
    height: 5rem;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#3498db);
    border-radius: 0.6rem;
}


/* content */
.wrapper__content{ 
    width: 100%;
    height: auto;
    background-color: #F4F6F9;
    padding-left: 18%;
}
.content_header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: 21rem;
    display: flex;
    background-color: var(--while-color);
    height: 6.6rem;
    border: 0.01rem solid #aaa;
    padding: 0 2rem 0 4rem;
    line-height: 6.6rem;
    justify-content: space-between;
}
.content__link-logout{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
}
.content__link-logout > i{
    margin-left: 0.5rem;
}
.content__box{
    width: 100%;
    height: 100%;
    padding: 3rem 2rem 0 2rem;
    background-color: #F4F6F9;
}
.content__box-product {
    padding: 7rem 0 20.3rem 0;
    height: 100%;
}
.content__box-header{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.box-represent{
    display: flex;
    justify-content: space-between;
}
.icon-represent{
    font-size: 7rem;
    color: #2980b9;
}
.content__box-text{
    width: 100%;
    text-align: center;
}
.content__box-title{
    font-size: 2rem;
    display: block;
    margin-bottom: 1rem;
}
.content__box-count{
    font-size: 4rem;
}
.row-2{
    margin-top: 6rem;
}






.content__box-add{
    text-decoration: none;
    outline: none;
    border: none;
    padding: 1rem 2rem;
    background-color: #2980b9;
    color: var(--while-color);
    font-size: 1.6rem;
}
.msg-err{
     color:#a33838;
     padding: 1.5rem 0;
     text-align: center;
     background-color:rgba(218, 91, 91, 0.4);
     margin-bottom: 3rem;
     font-size: 1.6rem;
     width: 25rem;
     border-radius: 2rem;
}

.content__box-product-table{
    width: 100%;
    background-color: var(--while-color);
    margin-top: 2rem;
}
.content__box-product-table, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: center;
}
.content__box-product-table tr{
    padding: 0.3rem 0;
    height: 4rem;
}
.content__box-product-table tr:hover{
    background-color: rgb(236, 236, 236);
}
.content__box-product-table th{
    height: 4.5rem;
    font-size: 1.6rem;
    font-weight: 550;
}
.content__box-product-table td{
    font-size: 1.5rem;
}
.td-name{
    width: 25rem;
}
.th-brand{
    width: 7rem;
}
.td-img{
    width: 10rem;
}
.td-img>img{
    width: 100%;
    object-fit: contain;
}
.td-desc{
    width: 25rem;
}
.td-function a{
    display: inline-block;
    margin: 1rem 0;
    text-decoration: none;
}
.link-function{
    outline: none;
    border: none;
    padding: 0.7rem 1rem;
    background-color: #2980b9;
    color: var(--while-color);
    cursor: pointer;
}
.btn-delete{
    background-color: var(--main-color);
}



/* add */
.content__box-product-add{
    margin: 0 0 3rem 4rem;
    width: 60rem;
    padding: 7rem 0 23rem 0;
}
.content__box-product-add-name{
    font-size: 2rem;
    margin-bottom: 3rem;
}
.content__box-product-add-field{
    margin-bottom: 3rem;
    width: 100%;
}
.select-value{
    width: 59%;
    padding: 1rem 0 1rem 0.5rem;
    outline: none;
    cursor: pointer;
    font-size: 1.6rem;
   
}

.content__box-product-add-btn{
    text-align: right;
}
label{
    width: 40%;
    display: inline-block;
    font-size: 1.7rem;
}
input:focus, textarea:focus, select:focus{
   box-shadow: 0 0 0.5rem #2980b9;
}
.input-txt{
    outline: none;
    border: 0.05rem solid var(--bbb-color);
    padding-left: 2rem;
    height: 4rem;
    width: 59%;
    font-size: 1.6rem;
}
.name-box{
    display: block;
    width: 59%;
}
.input-file{
    border: 0.05rem solid var(--bbb-color);
    padding: 1rem 2.3rem;
    cursor: pointer;
    outline: none;
    width: 59%;
}
.img-old{
    width: 18rem;
    height: 20rem;
    margin: 1.5rem 0 0 24.2rem;
}
.txt-box,.name-box{
    outline: none;
    font-size: 2rem;
    padding: 2rem;
    margin-left: 24.3rem;
    border: 0.05rem solid var(--bbb-color);
}
.editer{
    display: flex;
}
.label-editer{
    width: 19.5rem;
}
.content__box-product-btn{
    outline: none;
    border: none;
    background-color: #2980b9;
    color: var(--while-color);
    width: 20rem;
    height: 4rem;
    font-size: 1.5rem;
    margin: 1rem 0 0 0;
    cursor: pointer;

}

/* slide */
.td-img-slide{
    width: 30rem;
    height: 12rem;
}
.img-slide{
    width: 100%;
    height: 100%;
}
.img-slide-edit{
    margin: 2rem 0 0 15.2rem;
    width: 35rem;
    height: 15rem;
}

/* ------------------------------------footer------------------------------- */
.content__footer{
    position: fixed;
    bottom:0;
    right:0;
    left: 0;
    height: 5rem;
    line-height: 5rem;
    border: 0.02rem solid #aaa;
    background-color: var(--while-color);
    margin-left: 21rem;
}
.content__footer-txt{
    font-size: 1.4rem;
    padding-left: 4rem;
}